{% extends 'notes/base.html' %}

{% block content %}
{% if note_list %}
	<div class="notes">
		{% for note in note_list %}
			<a class="notes-link" href="/notes/{{note.id}}/">
				<div class="well" id="note-{{note.id}}" style="background-color:#{{note.color}}">
					<p class="note-title">{{note.title}}</p>
					<p class="note-text">{{note.text}}</p>
					<p class="pub-date">{{note.pubdate}}</p>
				</div>
			</a>
		{% endfor %}
	</div>
{% else %}
	<p> no Notes found! </p>
{% endif %}
	<a class="btn btn-lg btn-primary" href="./add/">Add a Note</a>
{% endblock %}
